@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css");

body {
    min-width: 120mm;
            
    color: white;
    mix-blend-mode: exclusion;

    font-family: "Open Sans", Arial, Helvetica, sans-serif;

    box-sizing: border-box;

    background-image: url("background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    color:inherit;
    text-decoration: none;
}

.title {
    margin: auto;
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
    font-size: 5vw;
}

.links {
    margin: auto;

    display: flex;
    justify-content: center;
}
.external a {
    margin: 1mm;
    margin-top: 5mm;

    font-size: 1.5em;
}
.internal {
    flex-direction: column;
}

.internal a {
    margin: auto;
    margin-top: 5mm;
    padding: 5mm;
    width: 100mm;

    background-color: transparent;
    border: 1mm solid white;

    font-size: 1.5vw;
    text-align: center;

    transition-duration: 250ms;
}

.internal a:hover {
    color: black;
    background-color: white;
}